<div class="container">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Knife Shop Mockup</a>

    </div>
    <div class="collapse navbar-collapse" id="myNavbar">

	<form class="navbar-form col-xs-8">
	    <div class="form-group">
			<input class="form-control" ng-model="$ctrl.query" type="text" placeholder="Search">
	    </div>
	</form>
		<ul class="nav navbar-nav navbar-right">
		<select class="navbar-text" ng-model="$ctrl.orderProp" style="color: #000">
			<option value="title">Alphabetical</option>
			<option value="price">Price</option>
		</select>
	</ul>

    </div>
  </div>
</nav>


	<div style="margin-top:80px">

		    <div class="thumbnail col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="knife in $ctrl.knives | filter:$ctrl.query | orderBy:$ctrl.orderProp">
		      <img ng-src="{{knife.img}}" alt="{{knife.title}}"/>
		      <div class="caption">
		        <h4>{{knife.title | limitTo:40}}...</h4>

		        <p><span class="btn btn-danger disabled" style="cursor:default; outline:none;">{{knife.price | currency}}</span> <a href="#!/knives/{{knife.id}}"" class="btn btn-success" style="outline:none;" role="button">Buy</a></p>
		      </div>
		    </div>

	</div>
</div>