<div class="container">
	<div class="search">
		Search: <input ng-model="$ctrl.query" />
	</div>
	<div class="order">
		Sort by:
		<select ng-model="$ctrl.orderProp">
			<option value="title">Alphabetical</option>
			<option value="price">Price</option>
		</select>
	</div>
	<div>
		<ul class="knives">
			<li ng-repeat="knife in $ctrl.knives | filter:$ctrl.query | orderBy:$ctrl.orderProp">
				<div class="knive-container">

					<a href="#!/knives/{{knife.id}}">
						<img ng-src="{{knife.img}}" alt="{{knife.title}}" />
					</a>
					<a href="#!/knives/{{knife.id}}">
						{{knife.title}}
					</a>
					<span>{{knife.price | currency}}</span>

				</div>
			</li>
		</ul>
	</div>
</div>